body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* HEADER */
.header {
    text-align: center;
    margin-bottom: 25px;
}

.header p {
    color: #666;
    font-size: 14px;
}

/* KATEGORI */
.kategori {
    text-align: center;
    margin-bottom: 20px;
}

.kategori button {
    padding: 8px 14px;
    margin: 5px;
    cursor: pointer;
}

